@import 'normalize';
@import 'base';

.top-menu {
  float: right;
  margin-top: 4px;

  ul {
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 10px;

      a {
        color: rgba(255, 255, 255, 0.61);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 5px 5px;

        &:hover {
          color: #fff;
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -o-transition: 0.5s all;
          -ms-transition: 0.5s all;
        }

        &.active {
          border-bottom: 2px solid #f8afa0;
        }
      }
    }
  }
}

.logo {
  float: left;
}

.header-bottom {
  background: #444;
  padding: 1.5em 0;
  z-index: 999;
}

nav a {
  display: block;
  margin: 0px 10px;
  padding: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

.banner {
  background: url(../images/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  min-height: 350px;
}

.banner1 {
  background: url(../images/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  min-height: 350px !important;
}

.bnr-text {
  margin-top: 12% !important;
}

.banner-text {
  text-align: center;
  margin-top: 12%;

  h1 {
    color: #fff;
    font-family: monospace;
    font-size: 3.6em;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    margin: 0;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.welcome-left {
  float: left;
  width: 50%;
  padding: 3em 5em 3em 14em;

  h3 {
    color: #696969;
    font-family: 'Mandali-Regular';
    margin: 0;
    font-size: 2em;
  }
}

.about-left h3 {
  color: #696969;
  font-family: 'Mandali-Regular';
  margin: 0;
  font-size: 2em;
}

.welcome-left h4,
.about-left h4 {
  color: #888;
  font-size: 1.2em;
  margin: 1em 0;
  font-family: 'Mandali-Regular';
}

.welcome-left p,
.about-left p {
  color: #b0b0b0;
  font-size: 0.9em;
  margin: 0;
  line-height: 2em;
}

.welcome-right {
  width: 50%;
  float: left;
  background: url(../images/p1.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 436px;
}

.welcome-right-about {
  width: 50%;
  float: left;
  background: url(../images/about.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 436px;
}

.offer {
  border-top: none;
}

.offer-right {
  background: url(../images/p11.JPG) no-repeat 0px 0px;
  background-size: cover;
  float: left;
}

.offer-left {
  float: right;
  padding: 2em 14em 2em 4em;

  p {
    margin: 1em 0 0 0;
  }
}

.offer-left-list {
  float: left;
  width: 50%;

  ul {
    padding: 0;
    margin: 1em 0 0 0;

    li {
      display: block;
      margin: 0.5em 0;

      a {
        color: #b0b0b0;
        font-size: 0.9em;
        text-decoration: none;
        padding-left: 1em;
        background: url(../images/dot.png) no-repeat 0px 4px;

        &:hover {
          color: #b0b0b0;
          padding-left: 1.5em;
        }
      }
    }
  }
}

.new {
  border: none;
}

.new-grids {
  margin-top: 3em;
  height: auto;
  overflow: hidden;
}

.new-left {
  padding: 2em 2em 2em 14em !important;
}

.new-grid-right {
  float: left;
  width: 77%;
  margin-left: 1em;

  p {
    color: #b0b0b0;
    font-size: 0.9em;
    margin: 0;
    line-height: 2em;
  }
}

.new-right {
  background: url(../images/p10.jpg) no-repeat 0px 0px;
  background-size: cover;
}

.footer {
  background-color: #444;
  padding: 20px 0px;

  p {
    text-align: center;
    padding-top: 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

p {
  margin: 0 0 10px;
}

#infor {
  display: block;
  width: 95%;
  padding: 70px 0px;
  margin: 0 auto;

  .block {
    h3 {
      color: #696969;
      padding-bottom: 25px;
    }

    .blog ul,
    .info ul,
    .gallary ul {
      padding-top: 20px;
    }

    .blog ul li,
    .info ul li,
    .gallary ul li {
      margin-bottom: 25px;
      display: inline-block;
      margin-right: 20px;
    }

    .blog ul li h4,
    .info ul li h4,
    .gallary ul li h4 {
      padding-bottom: 10px;
      display: block;
      color: #696969;
    }

    .blog ul li p,
    .info ul li p,
    .gallary ul li p {
      color: #b0b0b0;
      font-size: 14px;
    }
  }
}

.infor-left {
  width: 33.3%;
  float: left;
}

.infor-right {
  width: 66.6%;
  float: right;

  img {
    width: 100%;
  }
}

.picture {
  margin: 1px;
  width: 260px;
  height: 300px;
  display: table-cell;
}

p {
  margin: 0 0 10px;
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
  }

  .clearfix {

    &:before,
    &:after {
      display: table;
      content: ' ';
    }
  }

  .container {

    &:before,
    &:after {
      display: table;
      content: ' ';
    }
  }

  .modal-footer {

    &:before,
    &:after {
      display: table;
      content: ' ';
    }
  }

  .clearfix:after,
  .container:after,
  .modal-footer:after {
    clear: both;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1366px) {
  .welcome-left {
    padding: 3em 5em 3em 4em;
  }

  .offer-left {
    padding: 2em 4em 2em 4em;
  }

  .new-left {
    padding: 2em 2em 2em 4em !important;
  }
}

.table-pictures {
  clear: both;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 33.3%;
      float: left;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .new-grid-right {
    clear: both;
    width: 100%;
    margin: 0px;
  }

  .new-left {
    padding: 2em 2em 2em 2em !important;
  }

  .banner-info {
    width: 80%;
    margin: 5em 0 7em 0;
  }

  .welcome-left {
    float: none;
    width: 100%;
  }

  .welcome-right,
  .welcome-right-about {
    width: 100%;
    float: none;
  }

  .date {
    width: 100px;
    height: 100px;

    p {
      font-size: 2.5em;
    }
  }

  .new-grids {
    margin-top: 2em;
  }

  .banner {
    background-size: 750px auto;
    min-height: 200px;
  }

  .top-menu {
    float: none;

    ul li {
      float: none;
      display: block;
      text-align: center;

      a {
        width: 200px;
        margin: auto;
      }
    }
  }

  .banner-text h1 {
    font-size: 3.2rem;
  }

  .logo {
    float: none;
    text-align: center;
    width: 50px;
    margin: auto;
  }

  .infor-left,
  .infor-right {
    float: none;
    width: 100%;
  }

  .table-pictures ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    clear: both;

    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      clear: both;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .picture {
    height: auto;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .banner-info {
    width: 98%;
    margin: 3em 0 6em 0;

    h3 {
      font-size: 1.8em;
    }

    h5 {
      margin: 1em 0 1em 0;
    }
  }

  .banner-buttons {
    margin: 1em 0 1em;
  }

  .banner-button a {
    font-size: 0.9em;
    padding: 0.5em 2em;
  }

  .top-nav {
    padding: 1em;
  }

  .navbar-default .navbar-toggle {
    margin: 0.5em 0 0;
  }

  .logo h1 a {
    font-size: 1.2em;
  }

  .welcome-right,
  .welcome-right-about {
    min-height: 290px;
  }

  .new-grids {
    text-align: center;
  }

  .new-grid-right {
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
  }

  .new-bottom {
    padding: 3em 0;
  }

  .new-bottom-info h2,
  .about-info h2,
  .typography-info h2.type,
  .contact-info h2,
  .gallery-info h2,
  .blog-text h2 {
    font-size: 2em;
  }

  .footer {
    padding: 1.5em 0;
  }

  .welcome-left h3,
  .about-left h3 {
    font-size: 2em;
  }

  .welcome-left h4,
  .about-left h4 {
    font-size: 1.3em;
  }

  .typography,
  .contact {
    padding: 1em 0;
  }

  .contact-infom {
    margin: 1em 0 0 0;
  }
}

@media (max-width: 320px) {
  .banner-top {
    margin: 0.5em 0 0 0;
  }

  .social {
    width: 49%;
  }

  .header-top-right {
    width: 50%;

    form input[type='text'] {
      width: 74%;
    }
  }

  .banner-info {
    width: 100%;
    margin: 2em 0 3em 0;

    h3 {
      font-size: 1.3em;
    }

    h5 {
      font-size: 0.9em;
    }

    p {
      font-size: 0.8em;
    }

    h5 {
      margin: 0.5em 0;
    }
  }

  .logo h1 a {
    font-size: 1em;
  }

  .navbar-default .navbar-toggle {
    margin: 0;
  }

  .navbar {
    min-height: 0;
  }

  .welcome-left {
    padding: 1em;

    h3 {
      font-size: 1.5em;
    }
  }

  .about-left h3 {
    font-size: 1.5em;
  }

  .welcome-left h4,
  .about-left h4 {
    font-size: 1em;
  }

  .welcome-left p,
  .about-left p {
    font-size: 0.8em;
    line-height: 1.7em;
  }

  .welcome-right {
    min-height: 160px;
  }

  .offer-left-list {
    float: none;
    width: 100%;

    ul {
      margin: 0em 0 0 0;

      li a {
        font-size: 0.8em;
      }
    }
  }

  .new-left {
    padding: 1em !important;
  }

  .new-bottom {
    padding: 1em 0;
  }

  .new-bottom-info {
    p {
      font-size: 0.8em;
      line-height: 1.7em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .about-info h2,
  .typography-info h2.type,
  .contact-info h2,
  .blog-text h2 {
    font-size: 1.5em;
  }

  .footer {
    padding: 1em 0;
  }

  .contact h4 {
    font-size: 1em;
  }

  .contact-infom p {
    font-size: 0.8em;
  }

  .contact-grids {
    margin: 1em 0 0 0;
  }

  .contact-para {
    margin-bottom: 2em;
    padding: 0;
  }

  .contact-grid {
    padding: 0 0em 0 0;

    input[type='text'] {
      padding: 7px;
    }
  }

  .contact-para textarea {
    width: 100%;
  }

  .send {
    margin: 1em 0 0 0;
  }

  .contact-map {
    padding: 0;
  }

  .map iframe {
    min-height: 200px;
  }

  .footer-grid-list p {
    font-size: 0.8em;
  }
}